.Calculator{
width: 300px;
height: 50x;
max-width: 100%;


}


#display{
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 2%;
}

.buttons{
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(4, 3fr); /* 2 defines how many columns should the grid make----similar to grid-template-columns: 3fr 3fr 3fr 3fr;   each column get 3 parts(fractional unit) of the available space 3/12*/
}

button{
    height: 40px; 
    font-size: 18px;

}